/* Reset and base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif;
  color: white;
  background-image: url("../Images/Banners/web-background2.png");
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 30px;
}

main {
  padding: 50px;
}

/* Header styles */
header {
  max-width: 100%;
  height: 120px;
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: rgba(36, 68, 87, 0.8);
  font-family: "Mozilla Headline", sans-serif;

}

header .header-logo {
  display: flex;
  align-items: center;
}

header img {
  max-height: 100px;
  height: auto;
  
  margin-right: 20px;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  color: white;
  letter-spacing: 0.03em;
  margin: 0;
}

nav a {
  color: #fcfcfc;
  text-decoration: underline;
  font-weight: 600;
  font-size: 2rem;
  margin-left: 30px;
  padding: 10px;
  transition: all 0.25s ease;
}

nav a:visited {
  color: #fcfcfc;
  text-decoration: underline;
  font-weight: 600;
  margin-left: 30px;
  font-size: 1.5rem;
  padding: 6px 8px;
  transition: all 0.25s ease;
}

nav a:hover,
nav a:focus {
  color: rgba(36, 68, 87, 1);
  background-color: rgb(247, 247, 185);
  outline: none;
  font-size: 2.15rem;
  transition: all 0.25s ease;
}

nav a:active {
  color: rgba(36, 68, 87, 1);
  background-color: rgb(247, 247, 185);
  outline: none;
  font-size: 1.9rem;
  transition: all 0.25s ease;
}

/*diff screen size nav bar*/
@media (max-width: 1000px) {

  h1 {
    font-size: 4vw;
  }

  nav a {
    font-size: 3vw;
    margin-left: 15px;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 2.75rem;
  }

  header {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px 0;
  }

  header img {
    max-height: 100px;
    height: auto;
    margin-bottom: 10px;
  }

  nav {
    padding-bottom: 10px;
  }

  nav a {
    margin: 0 15px;
    font-size: 1.5rem;
  }

  nav a:hover {
    font-size: 1.75rem;
  }

  nav a:active {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {

  header {
    padding: 10px 0;
  }

  h1 {
    font-size: 7vw;
  }

  header img {
    max-height: 80px;
    height: auto;
    margin-bottom: 10px;
  }

  nav a {
    font-size: 4vw;
    margin: 0 10px;
  }

  nav a:hover {
    font-size: 4.5vw;
  }

  nav a:active {
    font-size: 4vw;
  }
}

/* Main content */
section {
  max-width: 70%;
  margin: 30px auto;
  background: rgba(91, 122, 139, 0.8);
  padding: 40px 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}


h2{
  font-size: 2.5rem;
  text-align: center;
  margin: 20px auto;
  background: rgba(91, 122, 139, 0.8);
  padding: 5px 15px;
  
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  max-width:fit-content;
}

h3 {
  font-size: 2rem;;
  text-align: center;
  padding-bottom: 20px;
  
}

p {
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.15;
}

a {
  color: rgb(173, 243, 243);
  font-weight: 700;
  text-decoration: underline;
  border-bottom: 2px solid transparent;
  transition: border-color 0.25s ease;
}

/* Home Page/About/Skills Section */

.selfie {
  display: flex;
  max-width: 500px;
  width: 100%;
  border-radius: 20%;
  margin: 0 auto 30px;
  transition: transform 0.3s ease;
}

.selfie:hover,
.selfie:focus {
  transform: scale(1.05);
  outline: none;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.about-section p {
  max-width: 80%;
  text-align: justify;
}

#skills ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#skills li {
  display: flex;
  flex-direction: column;
  align-items: center;    
  text-align: center;
          
}

#skills img {
  max-height: 70px;
  height: auto;
  vertical-align: middle;
  margin-bottom: 5px;
}

/* Responsive for Homepage*/

@media (max-width: 700px) {
  main {
    padding: 30px 20px;
    margin: 0 10px;
  }

  section {
    max-width: 100%;
    padding: 20px;
  }

  .selfie {
    max-width: 65%;
    margin-bottom: 20px;
  }

  .hide {
    display: none;
  }
}

/* Projects Section */

.projects-section {
  max-width: fit-content;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 230px;
  padding: 5px;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.project:hover {
  transform: scale(1.1);
}

.project p {
  color: white;
}

.project a {
  color:rgb(174, 255, 255);
  text-decoration: underline;
}

.projects-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.projects-section a {
  display: inline-block;
  margin-bottom: 10px;
}

.logo img {
  border-radius: 30%;
}

#website-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 20px;
} 

.website {
  max-width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
}


/* Responsive for Projects */
@media (max-width: 800px) {
  .project {
    max-width: 40%;
    height: auto;
  }

 

  #website-box {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  #website-box {
    flex-direction: column;
    align-items: center;
  }

  .project  {
    max-width: 80%;
    height: auto;
  }

  
}

/* Contact Section */
#contact-info {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: fit-content;
}

.contact-icon-norm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.contact-icon-norm img {
  transition: transform 0.3s ease;
}
  
.contact-icon-norm img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.contact-icon-invisible {
  display: none;
}

.contact-icon-norm a {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  margin-top: 10px;
}

.contact-icon-norm a:hover {
  font-weight: bold;
  color: rgb(212, 165, 255);
}

.contact-icon-norm a:active {
  max-width: 90px;
  font-weight: bold;
  color: rgb(212, 165, 255);
}

.contact-icon-norm img {
  max-width: 100px;
  height: auto;
  margin-bottom: 20px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  align-items: center;
  text-align: center;
  padding: 50px 0;  
}

form { 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group label {
  width: 100px;
  text-align: left;
  margin-right: 10px;
}

.form-group input { 
  flex: 1;
  padding: 6px 10px;
  font-size: 1rem;
  box-sizing: border-box;
}

textarea {
  flex: 1;
  resize: vertical;
}

form button {
  display: block;
  width: 100px;
  margin: 0 auto;
}

/* Responsive for Contact Section */
@media (max-width: 650px) {
  #contact-heading {
    font-size: 2rem;
  }

  .contact-icon-norm {
    display: none;
  }
  .contact-icon-invisible {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  }

  .contact-icon-invisible img {
  transition: transform 0.3s ease;
  }

  .contact-icon-invisible img:hover {
    transform: scale(1.35);
    transition: transform 0.3s ease;
  }
  
  .contact-section h3 {
    font-size: 1.5rem;
  }

  .contact-section img {
    max-width: 10vw;
    height: auto;
  }

  #contact-form {
    max-width: 100%;
    padding: 20px;
  }
}

@media (max-width: 550px) {
  .contact-section h3{
    display: none;
  }
}

  @media (max-width: 450px) {
  #contact-form {
    max-width: 90%;       /* Reduce overall width */
    padding: 20px 10px;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group label {
    width: auto;
    margin-right: 0;
    margin-bottom: 4px;
    font-size: 0.9rem;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    font-size: 0.9rem;
    padding: 4px 8px;
  }
  }