/*update styling for .project img to set max width/height
/*pick font
/*color scheme and background update

/* Reset and base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif;
  color: white;
  background-image: url("../Images/Banners/web-background2.png");

  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 30px;
}

/* Header styles */
header {
  max-width: 100%;
  height: 100px;
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: rgba(36, 68, 87, 0.8);
  font-family: "Mozilla Headline", sans-serif;

}

header .header-logo {
  display: flex;
  align-items: center;
}

header img {
  max-height: 100px;
  height: auto;
  
  margin-right: 20px;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  color: white;
  letter-spacing: 0.03em;
  margin: 0;
}

nav a {
  color: #fcfcfc;
  text-decoration: underline;
  font-weight: 600;
  font-size: 2rem;
  margin-left: 30px;
  padding: 10px;
  transition: all 0.25s ease;
}

nav a:visited {
  color: #fcfcfc;
  text-decoration: underline;
  font-weight: 600;
  margin-left: 30px;
  font-size: 1.5rem;
  padding: 6px 8px;
  transition: all 0.25s ease;
}

nav a:hover,
nav a:focus {
  color: rgba(36, 68, 87, 1);
  background-color: rgb(247, 247, 185);
  outline: none;
  font-size: 2.15rem;
  transition: all 0.25s ease;
}

nav a:active {
  color: rgba(36, 68, 87, 1);
  background-color: rgb(247, 247, 185);
  outline: none;
  font-size: 1.9rem;
  transition: all 0.25s ease;
}

/* Main content */
section {
  max-width: 800px;
  margin: 20px auto;
  background: rgba(91, 122, 139, 0.8);
  padding: 40px 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}


h2{
  font-size: 2.5rem;
  text-align: center;
  margin: 20px auto;
  background: rgba(91, 122, 139, 0.8);
  padding: 5px 15px;
  
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  max-width:fit-content;
}

h3 {
  font-size: 2rem;;
  text-align: center;
  padding-bottom: 20px;
  
}

p {
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.15;
}

a {
  color: rgb(173, 243, 243);
  font-weight: 700;
  text-decoration: underline;
  border-bottom: 2px solid transparent;
  transition: border-color 0.25s ease;
}

/* Home Page/About/Skills Section */

.selfie {
  display: flex;
  max-width: 500px;
  width: 100%;
  border-radius: 20%;
  margin: 0 auto 30px;
  transition: transform 0.3s ease;
}

.selfie:hover,
.selfie:focus {
  transform: scale(1.05);
  outline: none;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.about-section p {
  max-width: 80%;
  text-align: justify;
}

#skills ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#skills li {
  display: flex;
  flex-direction: column;
  align-items: center;    
  text-align: center;
          
}

#skills img {
  max-height: 70px;
  height: auto;
  vertical-align: middle;
  margin-bottom: 5px;
}

/* Responsive for Homepage*/
@media (max-width: 650px) {
  header {
    flex-direction: column;
    align-items: center;
    height: 110px;
  }

  nav {
    margin-top: 15px;
    padding-bottom: 20px;
  }

  nav a {
    margin: 0 15px;
  }

  main {
    padding: 30px 20px;
    margin: 0 10px;
  }

  .selfie {
    max-width: 65%;
    margin-bottom: 20px;
  }
}


/* Projects Section */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  text-align: center;
  max-width: 150px;
  padding: 5px;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.project p {
  color: white;
}

.project a {
  color:rgb(174, 255, 255);
  text-decoration: underline;
}

.projects-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.projects-section a {
  display: inline-block;
  margin-bottom: 10px;
}

.logo img {
  border-radius: 30%;
}

#website-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 20px;
} 

.project:hover {
  max-width: 180px;
  transition: all 0.3s ease;
}



/* Responsive for Projects */
@media (max-width: 600px) {
  #website-box {
    flex-direction: column;
    align-items: center;
  }
  
  .project {
    max-width: 90%;
  }
}


/* Contact Section */


.contact-section {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: fit-content;
}

.contact-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.contact-icon a {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  margin-top: 10px;
}

.contact-section img {
  max-width: 100px;
  height: auto;
  margin-bottom: 20px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
}

form { 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group label {
  width: 100px;
  text-align: left;
  margin-right: 10px;
}

.form-group input { 
  flex: 1;
  padding: 6px 10px;
  font-size: 1rem;
  box-sizing: border-box;
}

textarea {
  flex: 1;
  resize: vertical;
}

form button {
  display: block;
  width: 100px;
  margin: 0 auto;
}
